# Configuration files
defaults_v2.cfg

# Dependencies
*.d

# Object files
*.o

# Executables
DROS2/Debug/DROS2-LiveBuffer
DROS2/Debug/DROS2-Spectrometer
DataSource2/Debug/DataSource2
Msender/Release/Msender
SpectrogramViewer/Release/SpectrogramViewer

# Multi-DR build environments
build_DR*
