# system IP
SelfIP 		10.1.1.21

# system reference Identifier
MyReferenceDesignator	DR1

# udp port to listen for messages
MessageInPort		5000

# udp port to send responses to (presumably MCS)
MessageOutPort		5001

# IP to send responses to (presumably MCS)
MessageOutURL		10.1.1.2

# udp port to listen for data
DataInPort		10000

# ntp time server ip address or URL
TimeAuthority		10.1.1.50

# DROS software version number
Version DROS-1.5.0-Beta-Release(2012-06-22)

# MCS-DR serial number (currently just a place holder until devices are assigned)
MySerialNumber 21

# Default DRSU selection
ArraySelect 0
