# number of formats                                                                    
FORMAT-COUNT 11

# format 0: default full TBN                                                           
FORMAT-NAME-0 DEFAULT_TBN
FORMAT-RATE-0 117440512
FORMAT-SPEC-0 K1048
FORMAT-PAYLOAD-0 1048

# format 1: default full TBW                                                           
FORMAT-NAME-1 DEFAULT_TBW
FORMAT-RATE-1 42991616
FORMAT-SPEC-1 K1224
FORMAT-PAYLOAD-1 1224

# format 2: temporary 20 DIPOLE TBW
FORMAT-NAME-2 20DIPOLE_TBW
FORMAT-RATE-2 7549632
FORMAT-SPEC-2 K1224
FORMAT-PAYLOAD-2 1224

# format 3: temporary 20 DIPOLE TBN
FORMAT-NAME-3 20DIPOLE_TBN
FORMAT-RATE-3 4194304 
FORMAT-SPEC-3 K1048
FORMAT-PAYLOAD-3 1048

# format 4: DRX with filter 1
FORMAT-NAME-4 DRX_FILT_1
FORMAT-RATE-4 1011360
FORMAT-SPEC-4 K4128
FORMAT-PAYLOAD-4 4128

# format 5: DRX with filter 2
FORMAT-NAME-5 DRX_FILT_2
FORMAT-RATE-5 2018592
FORMAT-SPEC-5 K4128
FORMAT-PAYLOAD-5 4128

# format 6: DRX with filter 3
FORMAT-NAME-6 DRX_FILT_3
FORMAT-RATE-6 4033056
FORMAT-SPEC-6 K4128
FORMAT-PAYLOAD-6 4128

# format 7: DRX with filter 4
FORMAT-NAME-7 DRX_FILT_4
FORMAT-RATE-7 8066112
FORMAT-SPEC-7 K4128
FORMAT-PAYLOAD-7 4128

# format 8: DRX with filter 5
FORMAT-NAME-8 DRX_FILT_5
FORMAT-RATE-8 16128096
FORMAT-SPEC-8 K4128
FORMAT-PAYLOAD-8 4128

# format 9: DRX with filter 6
FORMAT-NAME-9 DRX_FILT_6
FORMAT-RATE-9 39509088
FORMAT-SPEC-9 K4128
FORMAT-PAYLOAD-9 4128

# format 10: DRX with filter 7
FORMAT-NAME-10 DRX_FILT_7
FORMAT-RATE-10 79014048
FORMAT-SPEC-10 K4128
FORMAT-PAYLOAD-10 4128
